/* ===================================================
CTA COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-cta"] {
	.cta__icon {
	}
	.cta__content {
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-cta--default {
}

.c-cta--slider {
	/*
	Local Vars
	----------------------- */
	$color-red-cta: #f061b9;

	/*
	Standard styles
	----------------------- */
	@include reset-btn();

	background-color: $color-red-cta;
	position: absolute;

	&.is-previous {
		left: 0;
	}

	&.is-next {
		right: 0;
	}

	&.is-hidden {
	}
}
